<div id="mainnav-menu-wrap">
    <div class="nano">
        <div class="nano-content">
            <ul id="mainnav-menu" class="list-group">
                <!--Menu list item-->
                <li>
                    <a href="/bloodbank/loadDashboard">
                        <i class="fa fa-home"></i>
                        <span class="menu-title">Blood Bank Dashboard</span>
                        <!--<i class="arrow"></i>-->
                    </a>
                    <!--Submenu-->
                    <!--<ul class="collapse">
                        <li><a href="index.html"><i class="fa fa-caret-right"></i> Homepage V1</a></li>
                        <li><a href="dashboard-v2.html"><i class="fa fa-caret-right"></i> Homepage V2</a></li>
                        <li><a href="dashboard-v3.html"><i class="fa fa-caret-right"></i> Homepage V3</a></li>
                    </ul>-->
                </li>

                <!--Menu list item-->
                <li>
                    <a href="#">
                        <i class="fa fa-tint"></i>
                        <span class="menu-title">Manage Blood Quantity</span>
                        <i class="arrow"></i>
                    </a>
                    <!--Submenu-->
                    <ul class="collapse">
                        <li><a href="/bloodbank/loadBloodQuantity"><i class="fa fa-caret-right"></i>Add
                            BloodQuantity</a></li>
                        <li><a href="/bloodbank/viewBloodQuantity"><i class="fa fa-caret-right"></i>View Blood Quantity</a>
                        </li>
                    </ul>
                </li>

                <!--Menu list item-->
                <li>
                    <a href="#">
                        <i class="fa fa-calendar"></i>
                        <span class="menu-title">Manage Time Slot</span>
                        <i class="arrow"></i>
                    </a>
                    <!--Submenu-->
                    <ul class="collapse">
                        <li><a href="/bloodbank/loadTimeSlot"><i class="fa fa-caret-right"></i>Add Time Slot</a></li>
                        <li><a href="/bloodbank/viewTimeSlot"><i class="fa fa-caret-right"></i>View Time Slot</a>
                        </li>
                    </ul>
                </li>


                <!--Menu list item-->
                <li>
                    <a href="/bloodbank/viewAppointment">
                        <i class="fa fa-phone"></i>
                        <span class="menu-title">Manage Appointment</span>
                    </a>
                </li>

                <li>
                    <a href="/bloodbank/viewPrediction">
                        <i class="fa fa-line-chart"></i>
                        <span class="menu-title">Manage Prediction</span>
                    </a>
                </li>

                <!--Menu list item-->
                <li>
                    <a href="#">
                        <i class="fa fa-bell"></i>
                        <span class="menu-title">Emergency Sevice</span>
                        <i class="arrow"></i>
                    </a>
                    <!--Submenu-->
                    <ul class="collapse">
                        <li><a href="/bloodbank/loadEmergencyRequest"><i class="fa fa-caret-right"></i>Add Emergency Request</a></li>
                        <li><a href="/bloodbank/viewEmergencyRequest"><i class="fa fa-caret-right"></i>View Emergency Request</a>
                        </li>
                    </ul>
                </li>
                <!--Menu list item-->
                <li>
                    <a href="#">
                        <i class="fa fa-comments"></i>
                        <span class="menu-title">Manage Complain</span>
                        <i class="arrow"></i>
                    </a>
                    <!--Submenu-->
                    <ul class="collapse">
                        <li><a href="/bloodbank/loadComplain"><i class="fa fa-caret-right"></i>Post Complain</a></li>
                        <li><a href="/bloodbank/viewComplain"><i class="fa fa-caret-right"></i>View Complain</a></li>
                        <li><a href="/bloodbank/viewUserComplain"><i class="fa fa-caret-right"></i>View User
                            Complain</a></li>
                    </ul>
                </li>

                <!--Menu list item-->
                <li>
                    <a href="#">
                        <i class="fa fa-hand-o-up"></i>
                        <span class="menu-title">Manage Feedback</span>
                        <i class="arrow"></i>
                    </a>
                    <!--Submenu-->
                    <ul class="collapse">
                        <li><a href="/bloodbank/loadFeedback"><i class="fa fa-caret-right"></i>Post Feedback</a></li>
                        <li><a href="/bloodbank/viewFeedback"><i class="fa fa-caret-right"></i>View Feedback</a></li>
                        <li><a href="/bloodbank/viewUserFeedback"><i class="fa fa-caret-right"></i>View User
                            Feedback</a></li>
                    </ul>
                </li>

                <!--Menu list item-->
                <!--<li>
                    <a href="/bloodbank/viewUserComplain">
                        <i class="fa fa-users"></i>
                        <span class="menu-title">Manage User Complain</span>
                    </a>
                </li>-->


                <!--Menu list item-->
                <!--<li>
                    <a href="/bloodbank/viewUserFeedback">
                        <i class="fa fa-calendar"></i>
                        <span class="menu-title">Manage User Feedback</span>
                    </a>
                </li>-->

                <!--Menu list item--
                <li>
                    <a href="#">
                        <i class="fa fa-database"></i>
                        <span class="menu-title">Manage Dataset</span>
                        <i class="arrow"></i>
                    </a>
                    <!--Submenu--
                    <ul class="collapse">
                        <li><a href="/admin/loadDataset"><i class="fa fa-caret-right"></i>Add Dataset</a></li>
                        <li><a href="/admin/viewDataset"><i class="fa fa-caret-right"></i>View Dataset</a></li>
                    </ul>
                </li>-->

                <!--Menu list item-->
                <!--<li>
                    <a href="/admin/viewComplaint">
                        <i class="fa fa-comments"></i>
                        <span class="menu-title">Manage Complaint</span>
                    </a>
                </li>

                                <!--Menu list item--
                <li>
                    <a href="/admin/viewFeedback">
                        <i class="fa fa-send"></i>
                        <span class="menu-title">Manage Feedback</span>
                    </a>
                </li>-->

                {#
                <!--Menu list item-->
                <li>
                    <a href="#">
                        <i class="fa fa-plus-square"></i>
                        <span class="menu-title">Menu Level</span>
                        <i class="arrow"></i>
                    </a>
                    <!--Submenu-->
                    <ul class="collapse">
                        <li><a href="#"><i class="fa fa-caret-right"></i> Second Level Item</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> Second Level Item</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> Second Level Item</a></li>
                        <li class="list-divider"></li>
                        <li>
                            <a href="#">Third Level<i class="arrow"></i></a>
                            <!--Submenu-->
                            <ul class="collapse">
                                <li><a href="#"><i class="fa fa-caret-right"></i> Third Level Item</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i> Third Level Item</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i> Third Level Item</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i> Third Level Item</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Third Level<i class="arrow"></i></a>
                            <!--Submenu-->
                            <ul class="collapse">
                                <li><a href="#"><i class="fa fa-caret-right"></i> Third Level Item</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i> Third Level Item</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i> Third Level Item</a></li>
                                <li class="list-divider"></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i> Third Level Item</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i> Third Level Item</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
#}
            </ul>
            <!--Widget-->
            <!--================================-->
            {#
            <div class="mainnav-widget">
                <!-- Show the button on collapsed navigation -->
                <div class="show-small">
                    <a href="#" data-toggle="menu-widget" data-target="#demo-wg-server">
                        <i class="fa fa-desktop"></i>
                    </a>
                </div>
                <!-- Hide the content on collapsed navigation -->
                <div id="demo-wg-server" class="hide-small mainnav-widget-content">
                    <ul class="list-group">
                        <li class="list-header pad-no pad-ver">Server Status</li>
                        <li class="mar-btm">
                            <span class="label label-primary pull-right">15%</span>
                            <p>CPU Usage</p>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-primary" style="width: 15%;">
                                    <span class="sr-only">15%</span>
                                </div>
                            </div>
                        </li>
                        <li class="mar-btm">
                            <span class="label label-purple pull-right">75%</span>
                            <p>Bandwidth</p>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-purple" style="width: 75%;">
                                    <span class="sr-only">75%</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
#}
            <!--================================-->
            <!--End widget-->
        </div>
    </div>
</div>
