<header class="plastic-header-style">
    <div class="container-fluid">
        <div class="row">
            <div class="header-area">
                <div class="logo-area">
                    <a href="/user/loadDashboard">
                        <img src="../../static/userResources/images/LifeQuest.jpg" alt="Nav Logo">
                    </a>
                </div>
                <nav class="navbar navbar-area navbar-expand-lg plastic-surgery-nav">
                    <div class="container nav-container">
                        <div class="responsive-mobile-menu">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#fortis_main_menu"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <!-- <span class="navbar-toggler-icon"></span> -->
                                <span class="cross-menu">
                                    <span class="bar1"></span>
                                    <span class="bar2"></span>
                                    <span class="bar3"></span> 
                                </span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="fortis_main_menu">
                            <ul class="navbar-nav">
                                <li>
                                    <a href="/user/loadDashboard">Home</a>
                                    <!--<ul class="sub-menu">

                                         current-menu-item
                                        <li><a href="index.html">Home 01</a></li>
                                        <li><a href="index-2.html">Home 02</a></li>
                                        <li><a href="index-3.html">Home 03</a></li>
                                        <li><a href="index-4.html">Home 04</a></li>
                                        <li><a href="index.html">Home 05</a></li>
                                        <li><a href="index-6.html">Home 06</a></li>
                                    </ul>-->
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="about.html">Appointment</a>
                                    <ul class="sub-menu">
                                        <li><a href="/user/loadAppointment">Add Appointment</a></li>
                                        <li><a href="/user/viewAppointment">View Appointment</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/user/loadComplain">Complain</a>
{#                                    <ul class="sub-menu">#}
{#                                        <li><a href="/user/loadComplain">Post Complain</a></li>#}
{#                                        <li><a href="/user/viewComplain">View Complain</a></li>#}
{#                                    </ul>#}
                                </li>
                                <li>
                                    <a href="/user/loadFeedback">Feedback</a>
{#                                    <ul class="sub-menu">#}
{#                                        <li><a href="/user/loadFeedback">Post Feedback</a></li>#}
{#                                        <li><a href="/user/viewFeedback">View Feedback</a></li>#}
{#                                        <!--<li><a href="register.html">Sign Up</a></li>#}
{#                                        <li><a href="gallery.html">Gallery</a></li>#}
{#                                        <li><a href="help-center.html">Help Center</a></li>#}
{#                                        <li><a href="membership.html">Membership</a></li>-->#}
{#                                    </ul>#}
                                </li>
                                <li><a href="/user/viewEmergencyRequest">Emergency Request</a></li>
                                <li><a href="/user/loadContact">contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!--Navbar area end here-->
                <div class="search-area">
                    <div class="openSearchBtn">
                        <div class="search-icon">
                            <i class="flaticon-search"></i>
                        </div>
                    </div>
                    <div class="open-side-menu">
                        <div class="menu-toggle">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <!--Search area end here-->
            </div>
        </div>
    </div>
</header>