<div id="mainnav-menu-wrap">
    <div class="nano">
        <div class="nano-content">
            <ul id="mainnav-menu" class="list-group">
                <!--Menu list item-->
                <li>
                    <a href="/admin/loadDashboard">
                        <i class="fa fa-home"></i>
                        <span class="menu-title">Admin Dashboard</span>
                        <!--<i class="arrow"></i>-->
                    </a>
                </li>

                <!--Menu list item-->
                <li>
                    <a href="#">
                        <i class="fa fa-building"></i>
                        <span class="menu-title">Manage City</span>
                        <i class="arrow"></i>
                    </a>
                    <!--Submenu-->
                    <ul class="collapse">
                        <li><a href="/admin/loadCity"><i class="fa fa-caret-right"></i>Add City</a></li>
                        <li><a href="/admin/viewCity"><i class="fa fa-caret-right"></i>View City</a></li>
                    </ul>
                </li>

                <!--Menu list item-->
                <li>
                    <a href="#">
                        <i class="fa fa-map-marker"></i>
                        <span class="menu-title">Manage Area</span>
                        <i class="arrow"></i>
                    </a>
                    <!--Submenu-->
                    <ul class="collapse">
                        <li><a href="/admin/loadArea"><i class="fa fa-caret-right"></i>Add Area</a></li>
                        <li><a href="/admin/viewArea"><i class="fa fa-caret-right"></i>View Area</a></li>
                    </ul>
                </li>

                <!--Menu list item-->
                <li>
                    <a href="/admin/viewBloodbank">
                        <i class="fa fa-hospital-o"></i>
                        <span class="menu-title">Manage Bloodbank</span>
                    </a>
                </li>

                <!--Menu list item-->
                <li>
                    <a href="/admin/viewUser">
                        <i class="fa fa-users"></i>
                        <span class="menu-title">Manage User</span>
                    </a>
                </li>


                <!--Menu list item-->
                <li>
                    <a href="#">
                        <i class="fa fa-tint"></i>
                        <span class="menu-title">Manage Blood Group</span>
                        <i class="arrow"></i>
                    </a>
                    <!--Submenu-->
                    <ul class="collapse">
                        <li><a href="/admin/loadBloodGroup"><i class="fa fa-caret-right"></i>Add Blood Group</a></li>
                        <li><a href="/admin/viewBloodGroup"><i class="fa fa-caret-right"></i>View Blood Group</a></li>
                    </ul>
                </li>

                <!--Menu list item-->
                <li>
                    <a href="/admin/viewDonationRequest">
                        <i class="fa fa-calendar"></i>
                        <span class="menu-title">Manage Appointment</span>
                    </a>
                </li>

                <!--Menu list item-->
                <li>
                    <a href="#">
                        <i class="fa fa-database"></i>
                        <span class="menu-title">Manage Dataset</span>
                        <i class="arrow"></i>
                    </a>
                    <!--Submenu-->
                    <ul class="collapse">
                        <li><a href="/admin/loadDataset"><i class="fa fa-caret-right"></i>Add Dataset</a></li>
                        <li><a href="/admin/viewDataset"><i class="fa fa-caret-right"></i>View Dataset</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-line-chart"></i>
                        <span class="menu-title">Manage Prediction</span>
                        <i class="arrow"></i>
                    </a>
                    <!--Submenu-->
                    <ul class="collapse">
                        <li><a href="/admin/loadPrediction"><i class="fa fa-caret-right"></i>Add Predition</a></li>
                        <li><a href="/admin/viewPrediction"><i class="fa fa-caret-right"></i>View Predition</a></li>
                    </ul>
                </li>

                <!----------------------------------Manage Complaint---------------------------------------->
                <li>
                    <a href="/admin/viewComplain">
                        <i class="fa fa-comments"></i>
                        <span class="menu-title">Manage Complain</span>
                    </a>
                </li>

                <!--Menu list item-->
                <li>
                    <a href="/admin/viewFeedback">
                        <i class="fa fa-thumbs-up"></i>
                        <span class="menu-title">Manage Feedback</span>
                    </a>
                </li>
            </ul>
            </div>
    </div>
</div>
